
<header class="header">
    <div class="header_title"><a href="/">こども作品保存箱</a></div>
    <div class="header_right">
      <div class="top_page_btn"><a href="/">top page</a></div>
    </div>
</header>

<div class="container">
    <div class="art_container">
        
<h1>Editing Art</h1>

<%= render 'form', art: @art %>

<%= link_to 'Show', @art %> |
<%= link_to 'Back', arts_path %>

    </div>
</div>