<header class="header">
    <div class="header_title"><a href="/">こども作品保存箱</a></div>
    <div class="header_right">
      <div class="name_ently_btn"><a href="/users/new">name ently</a></div>
            <div class="name_select_bta">name select
               <div class="name_box heddon">
                   <% @users.each do |user| %>
                          <div class="name_list">
                             <%= link_to "#{user.name}", user_path(user) %>
                          </div>
                   <% end %>
                </div>
           </div>
           </div> 
    </div>
</header>

<!--<p id="notice"><%= notice %></p>-->

<%= render 'art', arts: @arts %>